<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
  <title>Web Crawler Application</title>
</head>
<body>
  <div class="bg-secondary text-white text-center p-3" style="position: relative;">
    <div style="position: absolute; top: 0; left: 50%; transform: translate(-50%, 0%);">
      <h4>Crawl Your Website</h4>
    </div>
  </div>
  <%= form_with url: crawl_any_website_path, method: :post, local: true, html: { class: "form-inline" } do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <%= form_with url: crawl_any_website_path, method: :post, local: true, html: { class: "form-inline" } do |form| %>
          <div class="input-group mb-3 mt-5">
            <%= form.label :domain, 'Enter domain to crawl:', class: "input-group-text", id: "inputGroup-sizing-default" %>
            <%= form.text_field :domain, required: true, aria: { label: 'Enter URL to crawl' }, class: "form-control", placeholder: "somedomain.com" %>
          </div>
          <div class="d-flex justify-content-center">
            <%= form.submit 'Start Crawling', class: "btn btn-outline-success mt-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</body>
</html>
